<app-navbar></app-navbar>

<div class="container">
  <span class="big-circle"></span>
  <span class="big-circle-2"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title" style="color:#5756e6; padding: 20px;">Let's get in touch</h3><br>
      <p class="text">
        We at RoomRover are here to help you at every stage. Our committed staff is here to listen to your concerns and offer timely assistance, whether you need assistance with reservations, have questions, or would just like to express your thoughts!!!!
      </p>

      <div class="info">
        <div class="information">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#9696f1" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg>

          <p>92 Cherry Drive Uniondale, NY 11553</p>
        </div>
        <div class="information">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#9696f1" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
          </svg>
          <p>info&#64;roomrover.com</p>
        </div>
        <div class="information">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#9696f1" class="bi bi-phone-fill" viewBox="0 0 16 16">
            <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0"/>
          </svg>

          <p>123-456-789</p>
        </div>
      </div>

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://twitter.com/">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://instagram.com/">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://linkedin.com/">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
<!-- 
    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <p class="context">Need assistance or have any inquiries? Feel free to get in touch with us! Our dedicated team is here to provide you with prompt and personalized support. Whether you have questions about our services, want to give feedback, or require assistance with a booking, we're just a message away. Reach out to us via phone, email, or social media, and we'll ensure that your queries are addressed with the utmost care and attention to detail. Your satisfaction is our priority, and we look forward to hearing from you soon!</p>
    </div> -->
  </div>
</div>
<app-footer></app-footer>
